@model VietnamBackpackerHostels.Core.Models.TripDay
@using VietnamBackpackerHostels.UI.Pages.Shared

@{
    Dictionary<string, string> tripDayInformationValues = new Dictionary<string, string>();

    bool foodExists = !string.IsNullOrEmpty(Model.Food);
    bool accommodationExists = !string.IsNullOrEmpty(Model.Accommodation);
    bool walkingActivityExists = !string.IsNullOrEmpty(Model.WalkingActivity);
    bool bikeActivityExists = !string.IsNullOrEmpty(Model.BikeActivity);
    bool boatActivityExists = !string.IsNullOrEmpty(Model.BoatActivity);
    bool eveningActivityExists = !string.IsNullOrEmpty(Model.EveningActivity);
    bool freeTimeExists = Model.FreeTime;
    bool travelMethodExists = !string.IsNullOrEmpty(Model.TravelMethod);
    bool timeFrameExists = !string.IsNullOrEmpty(Model.TimeFrame);
    bool costExists = !string.IsNullOrEmpty(Model.Cost);

    if (foodExists)
        tripDayInformationValues.Add("fa-utensils", Model.Food);

    if (accommodationExists)
        tripDayInformationValues.Add("fa-hotel", Model.Accommodation);

    if (travelMethodExists)
        tripDayInformationValues.Add("fa-bus", Model.TravelMethod);

    if (walkingActivityExists)
        tripDayInformationValues.Add("fa-person-hiking", Model.WalkingActivity);

    if (bikeActivityExists)
        tripDayInformationValues.Add("fa-person-biking", Model.BikeActivity);

    if (boatActivityExists)
        tripDayInformationValues.Add("fa-ship", Model.BoatActivity);

    if (eveningActivityExists)
        tripDayInformationValues.Add("fa-moon", Model.EveningActivity);

    if (freeTimeExists)
        tripDayInformationValues.Add("fa-street-view", "Free Time");

    if (timeFrameExists)
        tripDayInformationValues.Add("fa-clock", Model.TimeFrame);

    if (costExists)
        tripDayInformationValues.Add("fa-money-check-dollar", Model.Cost);


    <div class="card h-100">
        @if (Model.Images.Any())
        {
            var carouselItems = new List<CarouselItemPartialModel>();

            foreach (var image in Model.Images)
            {
                carouselItems.Add(new CarouselItemPartialModel(image.ImageUrl));
            }

            var carouselId = $"trip-day-{Model.Id}-carousel";

            <partial name="_CarouselPartial" model="new CarouselPartialModel(carouselId, carouselItems, false)" />
        }

        <div class="card-body d-flex flex-column">
            @if (!string.IsNullOrEmpty(Model.DayTitle))
            {
                <h4 class="fw-bold mb-2 text-black">@Model.DayTitle</h4>
            }
            else
            {
                <h4 class="fw-bold mb-2 text-black">@($"Day {Model.Day}")</h4>
                <h5 class="fw-bold mb-4 text-gray text-shadow-0">@Model.Title</h5>
            }
            <div class="mb-0">
                @Html.Raw(Model.Description)
            </div>

            <div class="mt-auto">
                @if (tripDayInformationValues.Any())
                {
                    <div class="row">
                        @foreach (var tripDayInformationValue in tripDayInformationValues)
                        {
                            <div class="col-lg-6 mb-2">
                                <span class="badge bg-black p-2 w-100"><i class="fas @tripDayInformationValue.Key dark-grey-text" aria-hidden="true"></i> @tripDayInformationValue.Value</span>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
}

